{% extends 'layout.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="main-content">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='project_overview.css') }}">
<!--
    <table id="projects" class="table table-striped">
    <thead>
        <tr>
            <th>Assetname</th>
            <th>Assettype</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Owner</th>
            <th>Location</th>
            <th>Project overview</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects_df %}
        <tr>
                <td>{{ project.assetname }}</td>
                <td>{{ project.assettype }}</td>
                <td>{{ project.startdate }}</td>
                <td>{{ project.enddate }}</td>
                <td>{{ project.owner }}</td>
                <td>{{ project.location }}</td>
                <td>
                    <a  href= "{{ url_for('asset_components', record_id=2) }}">
                    <input type="submit" name="edit_btn" value="Show Details"rel="tooltip" class="btn btn-info">
                    <i class="material-icons"></i></input></a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
-->
<div class="col-sm-4 shadow p-3 mb-5 bg-white rounded">
    <h2>Add a new component</h2>
    <br>
    <form action= "{{ url_for('add_component') }}"    method="post" id="component_form">
        <label for="title">Material of component</label>
        <input type="text" name="ComponentMaterial" placeholder="Material of component" required></input>
        <label for="title">Category</label>
        <select name="Category" id="Category" required>
            <option value= "Concrete" >Concrete</option>
            <option value= "Metal" >Steel</option>
            <option value= "Wood" >Wood</option>
            <option value= "Stone" >Stone</option>
            <option value= "Rubber" >Rubber</option>
        </select>

        <label for="title">Weight</label>
        <input type="text" name="ComponentWeight" placeholder="Weight in kilograms" required></input>
        
        <label for="title">Condition</label>
        <select name="ComponentCondition" id="ComponentCondition" required>
            <option value= "1. Perfect" >Perfect</option>
            <option value= "2. Good" >Good</option>
            <option value= "3. Reasonable" >Reasonable</option>
            <option value= "4. Moderate" >Moderate</option>
            <option value= "5. Poor" >Poor</option>
        </select>

        <label for="title">Select the availibility status:</label>
        <select name="Availability" id="Availability" required>
            <option value= "Available">Available</option>
            <option value= "In process">In process</option>
            <option value= "In asset">In asset</option>
        </select>
        <label for="title">Availability Date</label>
        <input type="date" name="AvailabilityDate" placeholder="dd/mm/YYYY" min="da" required></input>

        <label for="title">Location</label>
        <input type="text" name="Location" placeholder="Location" required></input>

        <label for="title">Price (€)</label>
        <input type="number" min="1" step="any" name="Price" placeholder="Price in euros" required></input>

        <label for="title">Component description (max. 200 characters)</label>
        <textarea rows="4" cols="50" class="form-control" name="comment" form="component_form" maxlength="200"></textarea>
        <br>
        <button type="submit" class="btn btn-primary" value = {{asset_id}} name="asset_id">Submit</button>

    </form>
    </div>

    <!--<div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <form action="" method="post">
                     <label for="ComponentType">Choose a main component type:</label>
                      <div class="input_fields_wrap">
                      <button class="add_field_button">Add More Fields</button>
                      <input type="text" class="form-control mb-3" name="mytext[]" placeholder="Enter component">
                      </div>
                  </form>
              </div>
              <div class="col-md-4"></div>
          </div>
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    -->

</div>
{% endblock %}
