<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='asset_components.css') }}">
{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="main-content">
    <div class="main_container">
        <div class="header">Asset Overview of bridge  {% for row in bridge_dataset %} {{ row.AssetName }} {% endfor %}</div>
        <div class="content-large1 shadow p-3 mb-5 bg-white rounded">
            <img src="{{url_for('static', filename='uploads/asset_id='+ record_id+'.jpg')}}" />

            <form action= "{{ url_for('upload', record_id=record_id) }}" >
                <button type = "submit" name="asset_id" value={{record_id}} formmethod="post" class="bn632-hover bn26 ">Add image</button>
            </form>

        </div>
        <div class="content-large2 shadow p-3 mb-5 bg-white rounded">
            <h1>Asset details</h1>
            <p>
                {% for row in bridge_dataset %}
                <b>Name:</b>  {{ row.AssetName }} <br>
                <b>Type:</b>  {{ row.AssetType }} <br>
                <b>Maintenance State:</b> {{ row.Maintainance_State }} <br>
                <b>Build Year:</b> {{ row.Buildyear }} <br>
                <b>Maintainer:</b> {{ row.Maintainer }} <br>
                <b>Owner:</b> {{ row.Owner }} <br>
                <b>Status:</b> {{ row.Status }} <br>
                <b>Location:</b> {{ row.Location }} <br>
                <b>City:</b> {{ row.City }} <br>
                <br>

                {% endfor %}
            </p>
        </div>

        <div class="content-table-header">
            <a>Components of  {% for row in bridge_dataset %} {{ row.AssetName }} {% endfor %}</a>
            <div class="right_text">
            {% for row in bridge_dataset %}
                {% if session.loggedin %}
                    {%  if row.user_id == session['email']  %}
                        <a href= "{{ url_for('add_component', record_id = row.Assetnumber) }}">
                            <input name="edit_btn" value="Add a component +"rel="tooltip" class="bn634-hover bn28">
                        <i class="material-icons"></i></input></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="content-below shadow p-3 mb-5 bg-white rounded">
            <table id="asset-components" class="table table-striped">
                <thead>
                    <tr>
                        <th>Component Material</th>
                        <th>Category</th>
                        <th>Weight (kg)</th>
                        <th>Condition</th>
                        <th>Availability</th>
                        <th>Availability Date</th>
                        <th>Location</th>
                        <th>Price (€)</th>
                        <th>Status</th>
                        <th></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in components_dataset %}
                    <tr>
                        <td>{{ row.material }}</td>
                        <td>{{ row.category }}</td>
                        <td>{{ row.weight }} </td>
                        <td>{{ row.component_condition }}</td>
                        <td>{{ row.availability }}</td>
                        <td> {{ row.availability_date}}</td>
                        <td>{{ row.location }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.status}}</td>
                        <td>
                             <a href = "{{ url_for('component_page', record_id = row.component_id) }}">
                                <input name="edit_btn" value="Show Details"rel="tooltip" class="bn632-hover bn26">
                                <i class="material-icons"></i></input>
                            </a>
                        </td>
                        {% if session.loggedin %}
                            {%  if row.owner_email == session['email']  %}
                                {% if row.status == 'Published' %}
                                    <td>
                                        <a href = "{{ url_for('remove_publish_to_marketplace', component_id = row.component_id, record_id = record_id)}}">
                                        <input name="edit_btn" value="Remove From Marketplace"rel="tooltip" class="bn633-hover bn27">
                                        <i class="material-icons"></i></input>
                                        </a>
                                    </td>
                                {% elif row.status == 'Not Published' %}
                                    <td>
                                        <a href = "{{ url_for('remove_publish_to_marketplace', component_id = row.component_id, record_id = record_id) }}">
                                        <input name="edit_btn" value="Publish to Marketplace"rel="tooltip" class="bn634-hover bn28">
                                        <i class="material-icons"></i></input>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
