<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='asset_components.css') }}">
{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="main-content">
    <div class="asset_details_container">
        <div align="left" class="header">Asset Components</div>
        <div class="content-large1">
            <img src="{{url_for('static', filename='uploads/brug.jpg')}}" align="left"/>
            <form action="/" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.image }}
            <button type="submit">upload</button>
    </form>
        </div>
        <div align="left" class="content-large2">Asset details</div>
        <div align="middle" class="content-table-header">Components</div>
        <div class="content-below">
            <table id="asset-components" class="table table-striped">
                <thead>
                    <tr>
                    <th>Assetnumber</th>
                    <th>ComponentNumber</th>
                    <th>ComponentName</th>
                    <th>ComponentState</th>
                    <th>ComponentVolume</th>
                    <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in row_data %}
                    <tr>
                        {% for col, row_ in zip(column_names, row) %}
                        <td>{{row_}}</td>
                        {% endfor %}
                    </tr>
                    <td>
                        <a  href= "{{ url_for('asset_components', record_id=2) }}">
                        <input type="submit" name="edit_btn" value="Show Details"rel="tooltip" class="btn btn-info">
                        <i class="material-icons"></i></input></a>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
