<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='asset_components.css') }}">
{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="main-content">
    <div class="asset_details_container">
        <div align="left" class="header">Asset Components</div>
        <div class="content-large1">
            <img src="{{url_for('static', filename='uploads/asset_id='+ record_id+'.jpg')}}" align="left"/>

         <form action= "{{ url_for('upload', record_id=record_id) }}" >
                    <button type = "submit" name="asset_id" value={{record_id}}
                        formmethod="post" class="btn btn-info">Upload image</button>
                </form>

        </div>
        <div align="left" class="content-large2">
            <h1>Asset details</h1>
            <p>
                {% for row in bridge_dataset %}
                <b>Name:</b>  {{ row.AssetName }} <br>
                <b>Type:</b>  {{ row.AssetType }} <br>
                <b>Maintenance State:</b> {{ row.Maintainance_State }} <br>
                <b>Build Year:</b> {{ row.Buildyear }} <br>
                <b>Maintainer:</b> {{ row.Maintainer }} <br>
                <b>Owner:</b> {{ row.Owner }} <br>
                <b>Status:</b> {{ row.Status }} <br>
                <b>Location:</b> {{ row.Location }} <br>
                <b>City:</b> {{ row.City }} <br>
                <br>
                {% if session.loggedin %}
                <a  href= "{{ url_for('add_component', record_id = row.Assetnumber) }}">
                <input type="submit" name="edit_btn" value="Add a component"rel="tooltip" class="btn btn-info">
                <i class="material-icons"></i></input></a>
                {% endif %}

                {% endfor %}
            </p>
        </div>

        <div align="middle" class="content-table-header">Components</div>
        <div class="content-below">
            <table id="asset-components" class="table table-striped">
                <thead>
                    <tr>
                        <th>Component Material</th>
                        <th>Category</th>
                        <th>Weight (kg)</th>
                        <th>Condition</th>
                        <th>Availability</th>
                        <th>Availability Date</th>
                        <th>Owner/seller</th>
                        <th>Location</th>
                        <th>Price (€)</th>
                        <th></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in components_dataset %}
                    <tr>
                        <td>{{ row.material }}</td>
                        <td>{{ row.category }}</td>
                        <td>{{ row.weight }} </td>
                        <td>{{ row.component_condition }}</td>
                        <td>{{ row.availability }}</td>
                        <td> {{ row.availability_date}}</td>
                        <td>{{ row.component_owner }}</td>
                        <td>{{ row.location }}</td>
                        <td>{{ row.price }}</td>
                        <td>
                             <a href = "{{ url_for('component_page', record_id = row.component_id) }}">
                                <input name="edit_btn" value="Show Details"rel="tooltip" class="btn btn-info">
                                <i class="material-icons"></i></input>
                            </a>
                        </td>
                         <td>
                             {% if request.args.get('user_id') %}
                            <a href = "{{ url_for('publish_to_marketplace'
                            , component_id = row.component_id
                            , user_id = row.user_id
                            , record_id = record_id
                            ) }}">

                         <input name="edit_btn" value="Publish to Marketplace" rel="tooltip" class="btn btn-info" style="background-color:orange;border-color:orange">
                        <i class="material-icons"></i></input>
                    </a>
                             {% endif %}
                         </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
