{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='assets_overview.css') }}">

<div class="main-content">
    <table id="assets" class="table table-striped">
    <thead>
        <tr>
            <th>Assetnumber</th>
            <th>AssetName</th>
            <th>AssetType</th>
            <th>Maintainance state</th>
            <th>Buildyear</th>
            <th>Maintainer</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Location</th>
            <th>City</th>
            <th>Open_Asset</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
                <td>{{ row.Assetnumber }}</td>
                <td>{{ row.AssetName }}</td>
                <td>{{ row.AssetType }}</td>
                <td>{{ row.Maintainance_State }}</td>
                <td>{{ row.Buildyear }}</td>
                <td>{{ row.Maintainer }}</td>
                <td>{{ row.Owner }}</td>
                <td>{{ row.Status }}</td>
                <td>{{ row.Location }}</td>
                <td>{{ row.City }}</td>
                <td>
                <form action= "{{ url_for('asset_components', record_id=row.Assetnumber) }}" >
                    <button type = "submit" name="asset_id" value="{{row.Assetnumber}}"
                        formmethod="post" class="btn btn-info">See details</button>
                </form>
        <br>
                </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>


{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}