{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<table>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        {% if col == link_column %}
        <td>
            <a  href= "{{ url_for('asset_components', record_id=2) }}">
            <input type="submit" name="edit_btn" value="Show Details"rel="tooltip" class="btn btn-info">
            <i class="material-icons"></i></input></a>

            <!--<a href="{{url_for('asset_components')}}">Show Details</a>-->
        </td>
        {% else %}
        <td>{{row_}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}

</table>

{% endblock %}
