<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='asset_components.css') }}">
{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="main-content">
    <div class="asset_details_container">
        <div align="left" class="header">
        Component Overview
        </div>
        <div align="left" class="content-large1">
            <h4>Component details</h4>
            <p>
                {% for row in component_data %}
                <b>Category:</b>  {{ row.category }} <br>
                <b>Weight:</b> {{ row.weight }} kg <br>
                <b>Condition:</b> {{ row.component_condition }} <br>
                <b>Availability:</b> {{ row.availability }} <br>
                <b>Description:</b> {{ row.component_description }} <br>
        
        
                {% endfor %}
            </p>
        </div>
        <div class="content-large2" align="left">
            <h4>Contact details seller</h4>
            <p>
                {% for row in component_data %}
                <b>Name:</b>  {{ row.component_owner }} <br>
                <b>Address:</b> {{ row.location }} <br>
                <b>Email address:</b> mock@mail.com <br>
                <b>KvK number:</b> 12345678 <br>
        
        
                {% endfor %}
            </p>

        </div>

        <div align="middle" class="content-table-header">Components</div>
        <div class="content-below">
            <table>
            </table>
        </div>
    </div>
</div>
{% endblock %}


