<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='component_page.css') }}">
{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="main-content">
    <div class="component_details_container">
        <div align="left" class="header">
        <h3>
        {% for row in component_data %}
        {{ row.material }}, € {{ row.price }}
        {% endfor %}
        </h3>
        </div>
        <div align="left" class="content-large1">
            <h4>Component details</h4>
            <p>
                {% for row in component_data %}
                <b>Material: </b> {{ row.material }} <br>
                <b>Category:</b>  {{ row.category }} <br>
                <b>Weight:</b> {{ row.weight }} kg <br>
                <b>Condition:</b> {{ row.component_condition }} <br>
                <b>Availability:</b> {{ row.availability }} <br>
                <b> Availability date:</b> {{ row.availability_date }} <br>
                <b>Description:</b> {{ row.component_description }} <br>
                {% endfor %}
            </p>
        </div>

        <div class="content-large2" align="left">
            <h4>Contact details seller</h4>
            <p>
                {% for user in user_data %}
                <b>Name:</b>  {{ user.companyname }} <br>
                <b>Address:</b> {{ user.location }} <br>
                <b>Email address:</b> {{ user.email }} <br>
                <b>KvK number:</b> {{ user.kvknumber }} <br>
                {% endfor %}
            </p>
        </div>
        

        <div align="middle" class="content-table-header">Similar components</div>
        <div class="content-below">
            <table id="similar-components" class="table table-striped">
                <thead>
                    <tr>
                    <th>Component Material</th>
                    <th>Component Category</th>
                    <th>Weight (kg)</th>
                    <th>Condition</th>
                    <th>Availability</th>
                    <th>Availability Date</th>
                    <th>Owner</th>
                    <th>Location</th>
                    <th>Price</th>
                    </tr>
                </thead>
                <tbody>
        {% for row in similar_components_data%}
        <tr>
                <td>{{ row.material }}</td>
                <td>{{ row.category }}</td>
                <td>{{ row.weight }} </td>
                <td>{{ row.component_condition }}</td>
                <td>{{ row.availability }}</td>
                <td> {{ row.availability_date }}</td>
                <td>{{ row.component_owner }}</td>
                <td>{{ row.location }}</td>
                <td>{{ row.price }}</td>
                <td>
                    <a href = "{{ url_for('component_page', record_id = row.component_id) }}">
                         <input name="edit_btn" value="Show Details"rel="tooltip" class="btn btn-info">
                        <i class="material-icons"></i></input>
                    </a>
        <br>

                </td>
        </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


