{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='marketplace.css') }}">
<div class="main-content">
        <h1>Welcome to the Material Marketplace</h1>
        <h5>Browse through the different materials to find the right material for your bridge.</h5>
        <div class="add_component">
            <a  href= "{{ url_for('add_component') }}">
            <input type="submit" name="edit_btn" value="Sell new component"rel="tooltip" class="btn btn-info">
            <i class="material-icons"></i></input></a>
        </div>

<table id="marketplace" class="table table-striped">
    <thead>
        <tr>
            <th>Component Material</th>
            <th>Category</th>
            <th>Weight (kg)</th>
            <th>Condition</th>
            <th>Availability</th>
            <th>Owner/seller</th>
            <th>Location</th>
            <th>Price (€)</th>

        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
                <td>{{ row.material }}</td>
                <td>{{ row.category }}</td>
                <td>{{ row.weight }}</td>
                <td>{{ row.component_condition }}</td>
                <td>{{ row.availability }}</td>
                <td>{{ row.owner }}</td>
                <td>{{ row.location }}</td>
                <td>{{ row.price }}</td>
                <td>
                    <a  href= "{{ url_for('component_page') }}">
                    <input type="submit" name="edit_btn" value="Show Details"rel="tooltip" class="btn btn-info">
                    <i class="material-icons"></i></input></a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
{% endblock %}