{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='marketplace.css') }}">
<div class="main-content">
        <h1>Welcome to the material marketplace</h1>
        <h5>Browse through the different materials to find the right material for your bridge</h5>
    <table id="data" class="table table-striped">
    <thead>
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
            null,
            {searchable: false},
            {orderable: false, searchable: false},
            {orderable: false, searchable: false},
            null],
        });
    });
</script>
{% endblock %}