{% extends 'layout.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='project_overview.css') }}">

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16px 16px">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16px 16px">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16px 16px">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div class="main-content">
<div class="container">
    <div class="row">
        <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded">
            <h2>Asset overview</h2>
            <hr>
            <a>On this page you can see all the assets you own. An asset can be any type of civil work of art such as
                bridges or viaducts. You can also add a new asset (in case this asset is not
               yet present on the assets page) or upload assets from the file.</a>
        </div>
        <div class="col-sm-7 offset-md-1 shadow p-3 mb-5 bg-white rounded">
            <h2>Add an asset</h2>
            <form class="row g-3" action= "{{ url_for('my_assets') }}"    method="post">
                <div class="col-md-6">
                    <label for="title">Asset Name</label>
                    <input type="text" name="AssetName" placeholder="Asset name" required></input>
                </div>
                <div class="col-md-6">
                    <label for="AssetType">Choose an asset type:</label>
                    <select name="AssetType" id="AssetType" required>
                        {% for type in asset_type %}
                            <option value= "{{ type }}" > {{ type }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="title">When was the asset built (year)?</label>
                    <input type="date" name="Builddate" placeholder="DD/MM/YYYY" min="da" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">When does the technical lifespan expire (year)?</label>
                    <input type="date" name="Destructiondate" placeholder="DD/MM/YYYY" min="da" required></input>
                </div>
                <div class="col-md-6">
                    <label for="maintainancestate">How well is the bridge maintained?</label>
                    <select name="maintainancestate" id="maintainancestate" required>
                        {% for type in maintainance_type %}
                            <option value= "{{ type }}" > {{ type }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="title">Who maintains the asset?</label>
                    <input type="text" name="Maintainer" placeholder="Maintainer" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Width of the bridge (in m)</label>
                    <input type="number" name="Width" placeholder="Width in meters" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Length of the bridge (in m)</label>
                    <input type="number" name="Length" placeholder="Length in meters" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Address of the bridge</label>
                    <input type="text" name="address" placeholder="e.g. Street 45" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">City</label>
                    <input type="text" name="city" placeholder="City" required></input>
                </div>
                <div class="col-md-12">
                    <label for="ConstructionType">Choose the main construction type:</label>
                    <select name="ConstructionType" id="ConstructionType" required>
                          {% for type in construction_type %}
                          <option value= "{{ type }}" > {{ type }} </option>
                          {% endfor %}
                    </select>
                </div>
                <div class="col-md-12">
                <button type="submit" class="btn btn-primary" name="action" value="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 shadow p-3 mb-5 bg-white rounded ">
            <h2>My Assets</h2>
            <table id="my_assets" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Maintainance state</th>
                    <th>Built</th>
                    <th>Expires</th>
                    <th>Maintainer</th>
                    <th>Location</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in asset_data %}
                <tr>
                {% if asset.alert=='Yes' %}
                    <td>
                    <div class="alert alert-danger" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="16px" height="16px" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/></svg>
                    </div> </td>
                {% else %}
                    <td>
                    <div class="alert alert-success" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="16px" height="16px" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill"/></svg>
                </div> </td>
                {% endif %}
                    <td>{{ asset.AssetName }}</td>
                    <td>{{ asset.AssetType }}</td>
                    <td>{{ asset.Maintainance_State }}</td>
                    <td>{{ asset.buildyear }}</td>
                    <td>{{ asset.technical_lifespan_expires}}</td>
                    <td>{{ asset.Maintainer }}</td>
                    <td>{{ asset.Location }}</td>
                    <td>{{ asset.City }}</td>

                    <td>
                        <a  href= "{{ url_for('asset_components', record_id = asset.Assetnumber, user_id = asset.user_id) }}">
                        <input name="action" value="Show Details"rel="tooltip" class="bn632-hover bn26">
                        <i class="material-icons"></i></input></a>
                    </td>
                    <td>
                        <a  href= "{{ url_for('asset_delete', asset_id = asset.Assetnumber) }}" onclick="delete_clicked(event)">
                        <input name="action" value="Delete"rel="tooltip" class="bn633-hover bn27">
                        <i class="material-icons"></i></input></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
                <br/>
                <a href = "{{ url_for('upload_data') }}">
                         <input name="edit_btn" value="Upload Data" rel="tooltip" class="bn632-hover bn26">
                        <i class="material-icons"></i></input>
                    </a>
                <br/>
               {% if msg %}
                    <p><div class="alert alert-danger" role="alert">{{msg}}</div></p>
                {% endif %}
        </div>
    </div>
</div>
</div>


{% endblock %}