{% extends 'layout.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='project_overview.css') }}">
<div class="main-content">
<div class="container">
    <div class="row">
        <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded">
            <h2>Asset overview</h2>
            <hr>
            <a>On this page you can see all the assets you own. An asset can be any type of civil work of art such as
                bridges or viaducts. You can also add a new asset (in case this asset is not
               yet present on the assets page) or upload assets from the file.</a>
        </div>
        <div class="col-sm-7 offset-md-1 shadow p-3 mb-5 bg-white rounded">
            <h2>Add an asset</h2>
            <form class="row g-3" action= "{{ url_for('my_assets') }}"    method="post">
                <div class="col-md-6"
                    <label for="title">Asset Name</label>
                    <input type="text" name="AssetName" placeholder="Asset name" required></input>
                </div>
                <div class="col-md-6">
                    <label for="AssetType">Choose an asset type:</label>
                    <select name="AssetType" id="AssetType" required>
                        {% for type in asset_type %}
                            <option value= "{{ type }}" > {{ type }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="title">When was the asset built?</label>
                    <input type="date" name="Builddate" placeholder="dd/mm/YYYY" min="da" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">When will the asset be replaced/destroyed?</label>
                    <input type="date" name="Destructiondate" placeholder="dd/mm/YYYY" min="da" required></input>
                </div>
                <div class="col-md-6">
                    <label for="maintainancestate">How well is the bridge maintained?</label>
                    <select name="maintainancestate" id="maintainancestate" required>
                        {% for type in maintainance_type %}
                            <option value= "{{ type }}" > {{ type }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="title">Who maintains the asset?</label>
                    <input type="text" name="Maintainer" placeholder="Maintainer" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Width of the bridge (in m)</label>
                    <input type="number" name="Width" placeholder="Width in meters" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Length of the bridge (in m)</label>
                    <input type="number" name="Length" placeholder="Length in meters" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Address of the bridge</label>
                    <input type="text" name="address" placeholder="e.g. Street 45" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">City</label>
                    <input type="text" name="city" placeholder="City" required></input>
                </div>
                <div class="col-md-12">
                    <label for="ConstructionType">Choose the main construction type:</label>
                    <select name="ConstructionType" id="ConstructionType" required>
                          {% for type in construction_type %}
                          <option value= "{{ type }}" > {{ type }} </option>
                          {% endfor %}
                    </select>
                </div>
                <div class="col-md-12">
                <button type="submit" class="btn btn-primary" name="action" value="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 shadow p-3 mb-5 bg-white rounded ">
            <h2>My Assets</h2>
            <table id="my_assets" class="table table-striped">
            <thead>
                <tr>
                    <th>Assetname</th>
                    <th>Assettype</th>
                    <th>Build Year</th>
                    <th>Destruction Year</th>
                    <th>Location</th>
                    <th>Asset details</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in asset_data %}
                <tr>
                    <td>{{ asset.AssetName }}</td>
                    <td>{{ asset.AssetType }}</td>
                    <td>{{ asset.buildyear }}</td>
                    <td>{{ asset.destructionyear }}</td>
                    <td>{{ asset.Location }}</td>
                    <td>
                        <a  href= "{{ url_for('asset_components', record_id= asset.Assetnumber) }}">
                        <input name="action" value="Show Details"rel="tooltip" class="btn btn-info">
                        <i class="material-icons"></i></input></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
                <br/>
                <a href = "{{ url_for('upload_data') }}">
                         <input name="edit_btn" value="Upload Data" rel="tooltip" class="btn btn-info auto-width">
                        <i class="material-icons"></i></input>
                    </a>
                <br/>
               {% if msg %}
                    <p><div class="alert alert-danger" role="alert">{{msg}}</div></p>
                {% endif %}
        </div>
    </div>
</div>
</div>


{% endblock %}