<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='asset_components.css') }}">
{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="main-content">
    <div class="main_container">
        <div class="header">Overview of project  {% for row in project_data %} {{ row.assetname }} {% endfor %}</div>
        <div class="content-large1 shadow p-3 mb-5 bg-white rounded">
            <img src="{{url_for('static', filename='uploads/project_id='+ project_id+'.jpg')}}"/>

            <form action= "{{ url_for('upload_project_foto', project_id=project_id) }}" >
                <button type = "submit" name="project_id" value={{project_id}} formmethod="post" class="bn632-hover bn26">Upload image</button>
            </form>

        </div>
        <div class="content-large2 shadow p-3 mb-5 bg-white rounded">
            <h1>Project details</h1>
            <div class="details_text"
                <p>
                    {% for row in project_data %}
                    <b>ProjectName:</b>  {{ row.assetname }} <br>
                    <b>ProjectType:</b>  {{ row.assettype }} <br>
                    <b>Startdate:</b> {{ row.startdate }} <br>
                    <b>Owner Year:</b> {{ row.owner }} <br>
                    <b>Location:</b> {{ row.location }} <br>
                    {% endfor %}
                </p>
            </div>
            <div class="edit_button">
                <button id="edit_button" class='fas fa-edit' style='font-size:36px'></button>
            </div>
            <div class="edit_form" id="edit_form">
                <form class="row g-3" method="post">
                    <div class="form-group col-md-6"
                        <label for="title">Name of the project</label>
                        <input class="form-control" type="text" name="AssetName" placeholder="Project name" required></input>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="AssetType">Choose an asset type:</label>
                        <select class="form-control" name="AssetType" id="AssetType" required>
                            {% for type in asset_type %}
                                <option value= "{{ type }}" > {{ type }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="title">When will the project start?</label>
                        <input class="form-control" type="date" name="start_date" placeholder="dd/mm/YYYY" min="da" required></input>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="title">When is the project finished?</label>
                        <input class="form-control" type="date" name="end_date" placeholder="dd/mm/YYYY" min="da" required></input>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="title">Who will maintain the bridge?</label>
                        <input class="form-control" type="text" name="Maintainer" placeholder="Maintainer" required></input>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="title">Width of the bridge (in meters)</label>
                        <input class="form-control" type="text" name="Width" placeholder="Width in meters" required></input>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="title">Length of the bridge (in meters)</label>
                        <input class="form-control" type="text" name="Length" placeholder="Length in meters" required></input>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="title">Address of the bridge</label>
                        <input class="form-control" type="text" name="address" placeholder="e.g.) Street 45" required></input>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="title">City</label>
                        <input class="form-control" type="text" name="city" placeholder="City" required></input>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ConstructionType">Choose the main construction type:</label>
                        <select class="form-control" name="ConstructionType" id="ConstructionType" required>
                              {% for type in construction_type %}
                              <option value= "{{ type }}" > {{ type }} </option>
                              {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary" name="action" value="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="content-table-header">Planned components for project  {% for row in project_data %} {{ row.assetname }} {% endfor %}
        {% for row in project_data %}
            {% if session.loggedin %}
                {%  if row.user_id == session['email']  %}
                    <a href= "{{ url_for('marketplace') }}">
                        <input name="edit_btn" value="Plan component +" rel="tooltip" class="bn634-hover bn28 more_width_button">
                    <i class="material-icons"></i></input></a>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <div class="content-below shadow p-3 mb-5 bg-white rounded">
            <table id="project_components" class="table table-striped">
                <thead>
                    <tr>
                    <th>category</th>
                    <th>material</th>
                    <th>weight</th>
                    <th>component_condition</th>
                    <th>availability</th>
                    <th>availability_date</th>
                    <th>component_owner</th>
                    <th>location</th>
                    <th>price</th>
                    <th>owner_email</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row.category }}</td>
                        <td>{{ row.material }}</td>
                        <td>{{ row.weight }}</td>
                        <td>{{ row.component_condition }}</td>
                        <td>{{ row.availability }}</td>
                        <td>{{ row.availability_date }}</td>
                        <td>{{ row.component_owner }}</td>
                        <td>{{ row.location }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.owner_email }}</td>
                        <td>
                            <a href = "{{ url_for('delete_row', project_component_id = row.ProjectComponentId, project_id=row.ProjectId) }}" onclick="delete_clicked(event)">
                                 <input name="edit_btn" value="Delete" rel="tooltip" class="bn633-hover bn27">
                                <i class="material-icons"></i></input>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
