{% extends 'layout.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='project_overview.css') }}">
<div class="main-content">
<div class="container">
    <div class="row">
        <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded">
            <h2>Project overview</h2>
            <hr>
            <a>This page is used to create and view your future build-projects for sustainable and renewable bridges or
               other civil works of art. By creating a project you are able to add components to that project so you can
               plan which renewable components you can use for this project. </a>
        </div>
        <div class="col-sm-7 offset-md-1 shadow p-3 mb-5 bg-white rounded">
            <h2>Add a new project</h2>
            <form class="row g-3" action= "{{ url_for('project_overview') }}"    method="post">
                <div class="col-md-6"
                    <label for="title">Name of the project</label>
                    <input type="text" name="AssetName" placeholder="Project name" required></input>
                </div>
                <div class="col-md-6">
                    <label for="AssetType">Choose an asset type:</label>
                    <select name="AssetType" id="AssetType" required>
                        {% for type in asset_type %}
                            <option value= "{{ type }}" > {{ type }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="title">When will the project start?</label>
                    <input type="date" name="start_date" placeholder="dd/mm/YYYY" min="da" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">When is the project finished?</label>
                    <input type="date" name="end_date" placeholder="dd/mm/YYYY" min="da" required></input>
                </div>
                <div class="col-md-12">
                    <label for="title">Who will maintain the bridge?</label>
                    <input type="text" name="Maintainer" placeholder="Maintainer" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Width of the bridge (in m&sup2;)</label>
                    <input type="text" name="Width" placeholder="Width in meters" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Length of the bridge (in m&sup2;)</label>
                    <input type="text" name="Length" placeholder="Length in meters" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">Address of the bridge</label>
                    <input type="text" name="address" placeholder="e.g.) Street 45" required></input>
                </div>
                <div class="col-md-6">
                    <label for="title">City</label>
                    <input type="text" name="city" placeholder="City" required></input>
                </div>
                <div class="col-md-12">
                    <label for="ConstructionType">Choose the main construction type:</label>
                    <select name="ConstructionType" id="ConstructionType" required>
                          {% for type in construction_type %}
                          <option value= "{{ type }}" > {{ type }} </option>
                          {% endfor %}
                    </select>
                </div>
                <div class="col-md-12">
                <button type="submit" class="btn btn-primary" name="action" value="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 shadow p-3 mb-5 bg-white rounded ">
            <h2>My projects</h2>
            <table id="projects" class="table table-striped">
            <thead>
                <tr>
                    <th>Assetname</th>
                    <th>Assettype</th>
                    <th>Startdate</th>
                    <th>Owner</th>
                    <th>Location</th>
                    <th>Project overview</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects_df %}
                <tr>
                    <td>{{ project.assetname }}</td>
                    <td>{{ project.assettype }}</td>
                    <td>{{ project.startdate }}</td>
                    <td>{{ project.owner }}</td>
                    <td>{{ project.location }}</td>
                    <td>
                        <a  href= "{{ url_for('project_components', project_id = project.project_id) }}">
                        <input name="action" value="Show Details"rel="tooltip" class="bn632-hover bn26">
                        <i class="material-icons"></i></input></a>
                    </td>
                    <td>
                        <a  href= "{{ url_for('project_delete', project_id = project.project_id) }}">
                        <input name="action" value="Delete"rel="tooltip" class="bn633-hover bn27">
                        <i class="material-icons"></i></input></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</div>


{% endblock %}